Laba4 - WCF/For AIS 2 (winforms)/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52050/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52050/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52050/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IService_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="IService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditTask_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTask" />
  </wsdl:message>
  <wsdl:message name="IService_EditTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchLastID_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLastID" />
  </wsdl:message>
  <wsdl:message name="IService_SearchLastID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLastIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTasks" message="tns:IService_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTasksResponse" message="tns:IService_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddTask" message="tns:IService_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddTaskResponse" message="tns:IService_AddTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditTask" message="tns:IService_EditTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditTaskResponse" message="tns:IService_EditTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteTask" message="tns:IService_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteTaskResponse" message="tns:IService_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Search" message="tns:IService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchResponse" message="tns:IService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLastID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchLastID" message="tns:IService_SearchLastID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchLastIDResponse" message="tns:IService_SearchLastID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IService/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://tempuri.org/IService/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <soap:operation soapAction="http://tempuri.org/IService/EditTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLastID">
      <soap:operation soapAction="http://tempuri.org/IService/SearchLastID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52050/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>