Лабораторная работа №4/NotesClient/NotesClient/Service References/NotesServiceReference/NotesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NotesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNoteRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteRecord" nillable="true" type="tns:NoteRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteRecord" nillable="true" type="tns:ArrayOfNoteRecord" />
  <xs:complexType name="NoteRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="done" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="record" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteRecord" nillable="true" type="tns:NoteRecord" />
</xs:schema>