Лабораторная работа №4/NotesClient/NotesClient/Service References/NotesServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NotesService" />
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotesService" minOccurs="0" name="GetNotesResult" nillable="true" type="q1:ArrayOfNoteRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NotesService" minOccurs="0" name="record" nillable="true" type="q2:NoteRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>