Лабораторная работа №4/NotesClient/NotesClient/Service References/NotesServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NotesService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotesService_GetNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotes" />
  </wsdl:message>
  <wsdl:message name="INotesService_GetNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_SetDone_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDone" />
  </wsdl:message>
  <wsdl:message name="INotesService_SetDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDoneResponse" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="INotesService_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="INotesService">
    <wsdl:operation name="GetNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/GetNotes" message="tns:INotesService_GetNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/GetNotesResponse" message="tns:INotesService_GetNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/AddNote" message="tns:INotesService_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/AddNoteResponse" message="tns:INotesService_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDone">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/SetDone" message="tns:INotesService_SetDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/SetDoneResponse" message="tns:INotesService_SetDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesService/DeleteNote" message="tns:INotesService_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesService/DeleteNoteResponse" message="tns:INotesService_DeleteNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotesService" type="tns:INotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotes">
      <soap:operation soapAction="http://tempuri.org/INotesService/GetNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDone">
      <soap:operation soapAction="http://tempuri.org/INotesService/SetDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/INotesService/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotesService">
    <wsdl:port name="BasicHttpBinding_INotesService" binding="tns:BasicHttpBinding_INotesService">
      <soap:address location="http://localhost:8733/NotesService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>